<section *ngIf="userDetails" class = "panel">
	<form #personForm="ngForm" class="panel-body">
		<div class="input-group">
			<span class="input-group-addon">Name</span> 
			<input type="text" class = "form-control" name="userid" required [(ngModel)]="userDetails.id" #userid="ngModel">
		</div>
		<div class="input-group">
			<span class="input-group-addon">Name</span> 
			<input type="text" class = "form-control" name="username" required [(ngModel)]="userDetails.name" #username="ngModel">
		</div>
	</form>
</section>
<section *ngIf="errorMessage" class = "error">{{errorMessage}}</section>