{
  "lastUpdate" : [ 2017, 4, 1 ],
  "name" : "John",
  "surname" : "Doe",
  "email" : "john.doe01@email.com",
  "password" : "johndoe01",
  "joinDate" : [ 2017, 4, 1 ],
  "description" : "I am an automated user",
  "profilePhoto" : null,
  "address" : {
    "lastUpdate" : [ 2017, 4, 1 ],
    "street" : "Dummy Street",
    "streetNumber" : 1,
    "zipcode" : "20091",
    "city" : "Foo City 1"
  }
}